@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'inter', sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

span {
   color: hsl(277, 64%, 61%);
}

.card {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: hsl(244, 38%, 16%);
    border: 0px;
    border-radius: 10px;
}

.informations {
    width: 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
    padding: 0;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}

h1 {
    
    margin-left: 12%;
    font-weight: 700;
    font-size: 3em;
    color: hsl(0, 0%, 100%);
}

h5 {
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.main {
    color: hsla(0, 0%, 100%, 0.75);
    margin-left: 12%;
    margin-top: 5%;
    text-transform: none;
    width: 50%;
}

.flex-values {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}